In [48]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [49]:
#create dataframe
a_school_df = pd.DataFrame(school_data_complete)

school_df = a_school_df.sort_values("school_name")
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

# District Summary

In [50]:
#total number of schools
total_schools = len(school_df["school_name"].unique())
#total number of students
total_students = len(school_df["student_name"])
#total budget for all schools
total_budget = sum(school_df["budget"].unique())
#average math scores
avg_math = f'{school_df["math_score"].mean():.6f}'
#average reading scores
avg_read = f'{school_df["reading_score"].mean():.6f}'
#Percent of students passing math
school_df['math_score'] = school_df.loc[:, "math_score"].astype(float)
perc_pass_math = len(school_df[school_df['math_score'] >= 70]) / total_students * 100
f'{perc_pass_math:.6f}'
#percent of students passing reading
school_df['reading_score'] = school_df.loc[:, "reading_score"].astype(float)
perc_pass_read = len(school_df[school_df['reading_score'] >= 70]) / total_students * 100
f'{perc_pass_read:.6f}'

'85.805463'

In [51]:
#percent of students passing both reading and math                     
perc_pass_overall_df = school_df.loc[(school_df['math_score']>=70)& (school_df['reading_score']>= 70)]
perc_pass_overall = len(perc_pass_overall_df['Student ID'])/total_students * 100
f'{perc_pass_overall:.6f}'

'65.172326'

In [52]:
#creation of district summary dataframe
district_summary_df = pd.DataFrame([{
    "Total Number of Schools": total_schools,
    "Total Number of Students": total_students, 
    "Total budget": total_budget, 
    "Average Math Scores": avg_math, 
    "Average Reading Scores": avg_read, 
    "% Passing Math": perc_pass_math,
    "% Passing Reading": perc_pass_read, 
    "% Passing Overall": perc_pass_overall
    }])
district_summary_df

,Total Number of Schools,Total Number of Students,Total budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.877840,74.980853,85.805463,65.172326

# School Summary

In [53]:
#grouped by school name
grouped_school_data_df = school_df.groupby(["school_name"])
grouped_school_data_df.count().head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962

In [54]:
#number of students per school
school_students = grouped_school_data_df["Student ID"].count()
#Type of school
school_type = grouped_school_data_df["type"].unique()
#budget per school
school_budget = school_df["budget"].unique()
#average math score per school
avg_math_score = grouped_school_data_df["math_score"].mean()
#average reading score per school
avg_read_score = grouped_school_data_df["reading_score"].mean()

In [55]:
#find passing math scores
pass_math_df = school_df.loc[(school_df['math_score']>= 70)]
#grouped passing math scores by school name
grouped_pass_math_school = pass_math_df.groupby('school_name')
#count # of passing grades and calculate percentage
pass_math_school= grouped_pass_math_school.count()
perc_pass_math_school = pass_math_school['Student ID']/school_students * 100
#find passing reading scores
pass_read_df = school_df.loc[(school_df['reading_score']>= 70)]
#grouped passing reading score by school name
grouped_read_math_school = pass_read_df.groupby('school_name')
#count # of passing grades and calculate percentage
pass_read_school= grouped_read_math_school.count()
perc_pass_read_school = pass_read_school['Student ID']/school_students * 100

In [56]:
# grouped overall passing grades by school
grouped_overall_pass_df = perc_pass_overall_df.groupby(["school_name"])
# count how many passed both
overall_pass = grouped_overall_pass_df.count()
overall_pass_school = overall_pass['Student ID']/school_students * 100
overall_pass_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [76]:
#creation of school summary dataframe
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Number of Students":school_students,
    "School Budget": school_budget,
    "Per Student Budget": school_budget/school_students,
    "Average Math Score" : avg_math_score, 
    "Average Reading Score" : avg_read_score,
    "% Passing Math": perc_pass_math_school,
    "% Passing Reading": perc_pass_read_school,
    '% Passing Overall': overall_pass_school
})
school_summary_df

,School Type,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

# Top 5 Performing Schools (by % Overall Passing)

In [58]:
top_schools = school_summary_df.sort_values("% Passing Overall").tail()
top_schools

,School Type,Number of students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

# Bottom 5 Performing Schools (by % Overall Passing)

In [59]:
top_schools = school_summary_df.sort_values("% Passing Overall").head()
top_schools

,School Type,Number of students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade

In [60]:
#found all 9th grade
by_grade_df = school_df.loc[school_df["grade"] == '9th']
#grouped by school
ninth_grade_df = by_grade_df.groupby(["school_name"])
#calculate avgerages
avg_ninth = ninth_grade_df.mean()

#found all 10th grade
by_grade_df = school_df.loc[school_df["grade"] == '10th']
#grouped by school
tenth_grade_df = by_grade_df.groupby(["school_name"])
#calculate avgerages
avg_tenth = tenth_grade_df.mean()

#found all 11th grade
by_grade_df = school_df.loc[school_df["grade"] == '11th']
#grouped by school
eleventh_grade_df = by_grade_df.groupby(["school_name"])
#calculate avgerages
avg_eleventh = eleventh_grade_df.mean()

#found all 12th grade
by_grade_df = school_df.loc[school_df["grade"] == '12th']
#grouped by school
twelth_grade_df = by_grade_df.groupby(["school_name"])
#calculate avgerages
avg_twelth = twelth_grade_df.mean()

In [62]:
#creation of math scores by grade per school
avg_math_by_grade = pd.DataFrame({"9th": avg_ninth['math_score'],
                                 "10th": avg_tenth['math_score'],
                                 "11th": avg_eleventh['math_score'],
                                 "12th": avg_twelth['math_score']
                                 })
avg_math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [63]:
#creation of reading scores by grade per school
avg_read_by_grade = pd.DataFrame({"9th": avg_ninth['reading_score'],
                                 "10th": avg_tenth['reading_score'],
                                 "11th": avg_eleventh['reading_score'],
                                 "12th": avg_twelth['reading_score']
                                 })
avg_read_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [73]:
#create bins for budget ranges
bins = [0, 585, 630, 645, 680]
bin_names = ["<$585", "$585-630", "$630-645", "$645-680"]
#adding column with budget ranges
school_summary_df["Spending Range (per student)"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=bin_names, include_lowest=True)
#grouped by budget ranges
grouped_school_summary_df = school_summary_df.groupby("Spending Range (per student)")

,Number of students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Range (per student),,,,,,,,
<$585,1592.000000,9.246042e+05,581.000000,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,2291.750000,1.421222e+06,615.500000,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,2830.500000,1.809705e+06,639.500000,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,4104.333333,2.675768e+06,652.333333,76.997210,81.027843,66.164813,81.133951,53.526855

In [71]:
#creation of average scores by budget
score_by_budget_df = pd.DataFrame({"Average Math Score": grouped_school_summary_df["Average Math Score"].mean(),
                                  "Average Reading Score": grouped_school_summary_df["Average Reading Score"].mean(),
                                  "% Passing Math": grouped_school_summary_df["% Passing Math"].mean(),
                                  "% Passing Reading": grouped_school_summary_df["% Passing Reading"].mean(),
                                   "% Passing Overall": grouped_school_summary_df["% Passing Overall"].mean()
                                  })
score_by_budget_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Budget Level,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School size

In [78]:
#create bins for school size ranges
bins = [0, 1000, 2000, 5000]
bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#adding column with size ranges
school_summary_df["School Size Range"] = pd.cut(school_summary_df["Number of Students"], bins, labels=bin_names, include_lowest=True)
#grouped by size ranges
grouped_by_size = school_summary_df.groupby("School Size Range")

,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size Range,,,,,,,,
Small (<1000),694.500,416972.500,595.000,83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),1704.400,1029597.200,605.600,83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),3657.375,2333437.125,635.375,77.746417,81.344493,69.963361,82.766634,58.286003

In [79]:
#creation of averages per school size range
score_by_size_df = pd.DataFrame({"Average Math Score": grouped_by_size["Average Math Score"].mean(),
                                  "Average Reading Score": grouped_by_size["Average Reading Score"].mean(),
                                  "% Passing Math": grouped_by_size["% Passing Math"].mean(),
                                  "% Passing Reading": grouped_by_size["% Passing Reading"].mean(),
                                   "% Passing Overall": grouped_by_size["% Passing Overall"].mean()
                                })
score_by_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size Range,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003